.pt-5 {
  padding-top: 3rem !important;
}

.footer {
  color: #252f40;
  font-weight: 400;
  font-size: 0.875rem;
  padding-top: 0;
  padding-bottom: 0.25rem;
}

.footer .social-link:hover {
  opacity: 1 !important;
  transition: opacity 0.3 ease;
}

.mb-5 {
  margin-bottom: 3rem !important;
}

.mb-4 {
  margin-bottom: 1.5rem !important;
}

.text-gradient.text-footer {
  font-size: 26px;
  background-image: linear-gradient(
    310deg,
    rgba(121, 40, 202, 0.95) 50%,
    rgba(255, 0, 128, 0.95) 100%
  );
}

.footer-font-weight-bolder {
  font-weight: 700 !important;
}

.mt-3 {
  margin-top: 1rem !important;
}
.mt-2 {
  margin-top: 0.5rem !important;
}
.mb-2 {
  margin-bottom: 0.5rem !important;
}

.d-flex {
  display: flex !important;
}

.flex-row {
  flex-direction: row !important;
}
.ms-n3 {
  margin-left: -1rem !important;
}

.social {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.pe-1 {
  padding-right: 0.25rem !important;
}

.pr-2 {
  padding-right: 2rem !important;
}

.pe-3 {
  margin-bottom: 20px !important;
  padding-right: 3rem !important;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

.social-link {
  display: block;
  padding: 0.5rem 1rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
}

.opacity-8 {
  opacity: 0.8 !important;
}

.text-lg {
  font-size: 1.125rem !important;
}

.social-item .social-link {
  width: 100%; // Make sure button will grow
}

.col-md-2 {
  flex: 0 1;
  width: 56.666667%;
}

.col-sm-6 {
  flex: 0 0 auto;
  width: 50%;
}

.col-6 {
  flex: 0 0 auto;
  width: 50%;
}

.footer-text {
  width: 35vw;
  font-size: 28px;
  text-align: justify;
}

.a-footer-section {
  width: 35vw;
}

@media (min-width: 270px) {
  .footer-text {
    width: 80vw;
  }
  .a-footer-section {
    width: 80vw;
  }
  .footer_link {
    font-size: 8px;
  }
  .pe-3 {
    padding-right: 0.25rem !important;
  }
}

@media (min-width: 335px) {
  .footer-text {
    width: 80vw;
  }
  .a-footer-section {
    width: 80vw;
  }
  .footer_link {
    font-size: 10px;
  }
  .pe-3 {
    padding-right: 0.25rem !important;
  }
}

@media (min-width: 415px) {
  .footer-text {
    width: 80vw;
  }
  .a-footer-section {
    width: 80vw;
  }
  .footer_link {
    font-size: 12px;
  }
  .pe-3 {
    padding-right: 0.25rem !important;
  }
}

@media (min-width: 507px) {
  .footer-text {
    width: 80vw;
  }
  .a-footer-section {
    width: 80vw;
  }
  .footer_link {
    font-size: 14px;
  }
  .pe-3 {
    padding-right: 0.25rem !important;
  }
}

@media (min-width: 614px) {
  .footer-text {
    width: 60vw;
  }
  .a-footer-section {
    width: 60vw;
  }
  .footer_link {
    font-size: 16px;
  }
  .pe-3 {
    padding-right: 0.5rem !important;
  }
}

@media (min-width: 768px) {
  .footer-text {
    width: 50vw;
  }
  .a-footer-section {
    width: 50vw;
  }
  .footer_link {
    font-size: 16px;
  }

  .pe-3 {
    padding-right: 1rem !important;
  }
}

@media (min-width: 992px) {
  .footer_link {
    font-size: 20px;
  }
  .pe-3 {
    padding-right: 1rem !important;
  }
}

@media (min-width: 1200px) {
  .footer-text {
    width: 40vw;
  }
  .a-footer-section {
    width: 40vw;
  }
}

.a-size-mini {
  font-size: 11px !important;
  line-height: 1.465 !important;
}

.a-text-center {
  text-align: center !important;
}

.a-spacing-small {
  margin-bottom: 10px !important;
}

.auth-footer-seperator {
  display: inline-block;
  width: 20px;
}

a,
a:active,
a:link,
a:visited {
  text-decoration: none;
  color: #0066c0;
}

.a-text-center {
  text-align: center !important;
}

.a-spacing-none {
  margin-bottom: 0 !important;
}
