.container-profile {
  background-color: #fff;
  margin: auto;
  width: 55%;
  float: center;
  height: 97vh;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  line-height: 1.4em;
  border-bottom: 1px solid #ddd;
  margin-bottom: 14px;
  padding-bottom: 14px;
  border-radius: 15px;
}

.sensor-data {
  font-size: 10px;
}

.google-map {
  height: 50vh;
}
// h3 {
//   font-size: 30px;
//   padding: 20px 10px 20px 10px;
// }

// h4 {
//   padding: 20px 20px 20px 20px;
// }
// .content-user {
//   padding: 20px 40px 20px 40px;
// }

// p,
// ul,
// .user-authorities {
//   font-size: 20px;
// }
